/*===NULL CSS===========================================*/
*,*:before,*:after{box-sizing: inherit;}
.page{box-sizing:border-box ;}
.page,.page__body{height:100%;width:100%;}
/*===/NULL CSS===========================================*/