doctype html
html.page(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/main.min.css")
    title masons branding wordshop интернет магазин c высококачественной печатью брендированной одежды и аксессуаров
  body.page__body
    .wrapper
      include ./chunk/header
      main.main 
        include ./chunk/first
        include ./chunk/services
        include ./chunk/example
        include ./chunk/offer
        include ./chunk/sale
      include ./chunk/footer
    script(src="js/main.min.js") 

