section.example
  .example__container
    .example__content
      h2.example__title.title пример <span class="title-word-important">печати</span> 
        span.example__subtitle.subtitle Это может быть на тебе
    .example__slider
      .swiper-wrapper 
        .swiper-slide.example-slide
          a(href="#").example-slide__img-box 
            picture 
              //- source(srcset="img/yellow-hoodie-with-decor.webp")
              img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи")
        .swiper-slide.example-slide
          a(href="#").example-slide__img-box 
            picture 
              //- source(srcset="img/yellow-hoodie-with-decor.webp")
              img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи")
        .swiper-slide.example-slide
          a(href="#").example-slide__img-box 
            picture 
              //- source(srcset="img/yellow-hoodie-with-decor.webp")
              img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи")
        .swiper-slide.example-slide
          a(href="#").example-slide__img-box 
            picture 
              //- source(srcset="img/yellow-hoodie-with-decor.webp")
              img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи")
        .swiper-slide.example-slide
          a(href="#").example-slide__img-box 
            picture 
              //- source(srcset="img/yellow-hoodie-with-decor.webp")
              img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи")
        .swiper-slide.example-slide
          a(href="#").example-slide__img-box 
            picture 
              //- source(srcset="img/yellow-hoodie-with-decor.webp")
              img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи")
      button.swiper-button-prev.btn-reset
      button.swiper-button-next.btn-reset
