section.first 
	.first__container
		.first__content 
			h1.first__title masons <span class="first__title-word-important">branding</span> wordshop
				span.first__subtitle Высококачественная печать Брендирование одежды и аксессуаров
			a.first__link(href="#") Каталог
		.first__img 
			picture 
				//- source(srcset="img/boy-in-yellow-hoodie.webp")
				img(src="img/boy-in-yellow-hoodie.png", alt="парень одетый в желтый худи стоит профилем")