section.offer 
  .offer__content.container
    h2.offer__title.title <span class="title-word-important">Акции</span> и предолжения 
      span.offer__subtitle.subtitle Успей урвать себе
  .offer__slider-bg
    .offer__slider.offer__container
      .swiper-wrapper.offer__slider-wrapper
        article.swiper-slide
          .offer-slide.container
            .offer-slide__content
              h3.offer-slide__title Русский корабль
              p.offer-slide__text Купи футболку и 10% с каждой покупки пойдёт на нуждый ВСУ, купи стильную футболку и поддержи своего брата на фронте
              button.offer-slide__btn.btn-reset ПОДРОБНЕЙ
            .offer-slide__img
              img(src="img/white-tshirt-with-decor.png", alt="белая футболка с декором сзади")
        article.swiper-slide
          .offer-slide.container
            .offer-slide__content
              h3.offer-slide__title Русский корабль
              p.offer-slide__text Купи футболку и 10% с каждой покупки пойдёт на нуждый ВСУ, купи стильную футболку и поддержи своего брата на фронте
              button.offer-slide__btn.btn-reset ПОДРОБНЕЙ
            .offer-slide__img
              img(src="img/white-tshirt-with-decor.png", alt="белая футболка с декором сзади")
        article.swiper-slide
          .offer-slide.container
            .offer-slide__content
              h3.offer-slide__title Русский корабль
              p.offer-slide__text Купи футболку и 10% с каждой покупки пойдёт на нуждый ВСУ, купи стильную футболку и поддержи своего брата на фронте
              button.offer-slide__btn.btn-reset ПОДРОБНЕЙ
            .offer-slide__img
              img(src="img/white-tshirt-with-decor.png", alt="белая футболка с декором сзади")
      button.swiper-button-prev.offer__btn-prev.btn-reset
      button.swiper-button-next.offer__btn-next.btn-reset