section.sale 
  .sale__container.container 
    h2.sale__title.title Топ про<span class="title-word-important">даж</span>  
      span.sale__subtitle.subtitle То, что вам нравиться
    nav.sale__tabs.tabs(data-tabs="tab")
      .sale__tabs-nav-block.tabs__nav-block
        ul.sale__tabs-nav.tabs__nav 
          li.sale__tabs-nav-item.tabs__nav-item
            button.sale__tabs-nav-btn.tabs__nav-btn.btn-reset все
          li.sale__tabs-nav-item.tabs__nav-item
            button.sale__tabs-nav-btn.tabs__nav-btn.btn-reset худи желтые 
          li.sale__tabs-nav-item.tabs__nav-item
            button.sale__tabs-nav-btn.tabs__nav-btn.btn-reset футболки белые
          li.sale__tabs-nav-item.tabs__nav-item
            button.sale__tabs-nav-btn.tabs__nav-btn.btn-reset худи желтые
          li.sale__tabs-nav-item.tabs__nav-item
            button.sale__tabs-nav-btn.tabs__nav-btn.btn-reset футболки белые
          li.sale__tabs-nav-item.tabs__nav-item
            button.sale__tabs-nav-btn.tabs__nav-btn.btn-reset худи желтые
          li.sale__tabs-nav-item.tabs__nav-item
            button.sale__tabs-nav-btn.tabs__nav-btn.btn-reset футболки белые
          li.sale__tabs-nav-item.tabs__nav-item
            button.sale__tabs-nav-btn.tabs__nav-btn.btn-reset худи желтые
        .sale__tabs-nav-more
          button.sale__burger.burger.btn-reset
            span.burger__line.burger__line_top
            span.burger__line.burger__line_middle
            span.burger__line.burger__line_bottom
          ul.sale__tabs-sub-nav
      .sale__tabs-content.tabs__content 
        .sale__tabs-panel.tabs__panel 
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
        .sale__tabs-panel.tabs__panel 
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
        .sale__tabs-panel.tabs__panel 
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
        .sale__tabs-panel.tabs__panel 
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
        .sale__tabs-panel.tabs__panel 
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
        .sale__tabs-panel.tabs__panel 
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
        .sale__tabs-panel.tabs__panel 
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
          article.sale__card.card
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/white-tshirt.png", alt="белая футболка")
            h3.sale__card-title.card__title Футболка Белая
            span.sale__card-price.card__price 230₴
        .sale__tabs-panel.tabs__panel 
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴
          article.sale__card.card 
            a(href="#").sale__card-img-box.card__img-box
              img.sale__card-img.card__img(src="img/yellow-hoodie.png", alt="желтое худи")
            h3.sale__card-title.card__title худи желтое
            span.sale__card-price.card__price 250₴