section.services 
  .services__container.container 
    h2.services__title.title Наши <span class="title-word-important">услуги</span> 
      span.services__subtitle.subtitle Главной деятельностью масонств
    ul.products-grid
      li.products-grid__item
        article.product
          .product__content
            h3.product__title Печать <br> флекс/флок плёнкой
            p.product__subtitle Качественная печать при малых тиражах
          button.product__btn.btn-reset подробнее
          img.product__img(src="img/printing-machine.png", alt="принтер машина")
      li.products-grid__item
        article.product
          .product__content
            h3.product__title Печать <br> флекс/флок плёнкой
            p.product__subtitle Качественная печать при малых тиражах
          button.product__btn.btn-reset подробнее
          img.product__img(src="img/fever.png", alt="принтер машина")
      li.products-grid__item
        article.product
          .product__content
            h3.product__title Печать <br> флекс/флок плёнкой
            p.product__subtitle Качественная печать при малых тиражах
          button.product__btn.btn-reset подробнее
          img.product__img(src="img/printer.png", alt="принтер машина")
      li.products-grid__item
        article.product
          .product__content
            h3.product__title Печать <br> флекс/флок плёнкой
            p.product__subtitle Качественная печать при малых тиражах
          button.product__btn.btn-reset подробнее
          img.product__img(src="img/printing-machine.png", alt="принтер машина")
      li.products-grid__item
        article.product
          .product__content
            h3.product__title Печать <br> флекс/флок плёнкой
            p.product__subtitle Качественная печать при малых тиражах
          button.product__btn.btn-reset подробнее
          img.product__img(src="img/fever.png", alt="принтер машина")
      li.products-grid__item
        article.product
          .product__content
            h3.product__title Печать <br> флекс/флок плёнкой
            p.product__subtitle Качественная печать при малых тиражах
          button.product__btn.btn-reset подробнее
          img.product__img(src="img/printer.png", alt="принтер машина")
